<section id="Inici" class="events">
      <div class="container-fluid">
        <div class="slides-1 swiper">
          <div class="swiper-wrapper" id="Carrusel">
            <!-- Los tres primeros eventos se cargarán aquí directamente en HTML -->
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>

    <section id="calendari" class="about">
      <!-- ======= Events Section ======= -->
      <div class="container">
        <div class="section-header">
          <h2>Calendari</h2>
          <p>Fira tot el que puguis
            <br>
            <span>quan i on vulguis</span>
          </p>
        </div>
        <div class="row gy-4">
          <div class="position-relative mt-4">
            <div id="calendar-container">
              <div id="calendar"></div>
            </div>
          </div>
        </div>
    </section><!-- End About Section -->


    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter">
      <div class="container">

        <div class="row gy-3">

          <div class="col-lg-4 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="67" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Pobles</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-4 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="0" data-purecounter-duration="1"
                class="purecounter" id="totalFires"></span>
              <p>Fires actives</p>
            </div>
          </div><!-- End Stats Item -->


          <div class="col-lg-4 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Nombre de visitants</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

    <!-- ======= Menu Section ======= -->
    <section id="info" class="menu">
      <div class="container">

        <ul class="nav nav-tabs d-flex justify-content-center">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#fires-mallorca"
              data-region="Mallorca">
              <h3>Mallorca</h3>
            </a>
          </li>
          <!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#fires-menorca" data-region="Menorca">
              <h3>Menorca</h3>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#fires-eivissa" data-region="Eivissa">
              <h3>Eivissa</h3>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#fires-formentera" data-region="Formentera">
              <h3>Formentera</h3>
            </a>
          </li>
        </ul>
        <select id="ordenDropdown" class="form-control" title="Ordenar por:">
          <option value="fecha">Data</option>
          <option value="distancia">Distància</option>
        </select>

        <div class="tab-content">
          <div class="tab-pane fade active show" id="fires-mallorca">
            <div class="tab-header text-center">
              <h3>Mallorca</h3>
            </div>
            <div id="contenedorFires" class="container">
              <div class="row row-cols-3" id="eventos-mallorca">
                <!-- Los eventos se agregarán aquí dinámicamente con JavaScript -->
              </div>
            </div>

          </div>

          <div class="tab-pane fade" id="fires-menorca">
            <div class="tab-header text-center">
              <h3>Menorca</h3>
            </div>
            <div class="row row-cols-3" id="eventos-menorca">
              <!-- Los eventos se agregarán aquí dinámicamente con JavaScript -->
            </div>
          </div>

          <div class="tab-pane fade" id="fires-eivissa">
            <div class="tab-header text-center">
              <h3>Eivissa</h3>
            </div>
            <div class="row row-cols-3" id="eventos-eivissa">
              <!-- Los eventos se agregarán aquí dinámicamente con JavaScript -->
            </div>
          </div>

          <div class="tab-pane fade" id="fires-formentera">
            <div class="tab-header text-center">
              <h3>Formentera</h3>
            </div>
            <div class="row row-cols-3" id="eventos-formentera">
              <!-- Los eventos se agregarán aquí dinámicamente con JavaScript -->
            </div>
          </div>
        </div>
      </div>


    </section><!-- End Menu Section -->

    <!-- ======= Contact Section ======= -->
    <section id="maps" class="mb-3">
      <div class="container justify-content-center row-cols-3">
        <div class="form-check">
          <label class="form-check-label col">
            <input type="checkbox" class="form-check-input" id="checkboxFira" name="checkboxFira" value="Fira" checked>
            Ferias
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label col">
            <input type="checkbox" class="form-check-input" id="checkboxTeatres" name="checkboxTeatres" value="Teatres">
            Teatres
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label col">
            <input type="checkbox" class="form-check-input" id="checkboxRestaurants" name="checkboxRestaurants"
              value="Restaurants"> Fires Artesanes
          </label>
        </div>
      </div>


      <div id="contenedorMapa" class="container justify-content-center">
        <div id="api-map" class="col">
        </div>
      </div>
    </section><!-- End Contact Section -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Suscribete!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="Formulario">
              <p>Escribe tu correo electronico y recibe notificaciones sobre nuevas ferias y contenido relacionado!</p>
              <label for="email">Correo Electronico</label>
              <input id="email" type="email" required><br><br>
              <label for="Permisos">Acepta los <a href="">terminos y condiciones</a></label>
              <input name="Permisos" id="Permisos" type="checkbox"><br><br>
              <button id="botonEnviar" type="submit" class="btn btn-primary">Enviar Inscripción</button>
            </form>
          </div>
        </div>
      </div>
    </div>